/* start global rules*/
:root{
    --main-color:#10cab7;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    font-family: "work sans", sans-serif;
}
/*end global rules*/

.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
   
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .container{
    width: 1170px;
}
 }
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links ul{
list-style: none;
background-color:rgb(227, 227, 227);
margin: 0;
padding: 0;
position: absolute;
min-width: 200px;
right: 0;
display: none;
}
.header .links:hover ul{
    display: block;
}
.header .links li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(38, 37, 37);
    transition: 0.3s;
}

.header .links li a:hover{
padding-left: 25px;
}
.header .links li:not(:last-child){
    border-bottom: 1px solid rgb(153, 153, 153);
}
/*start landing*/
.landing{
    background-image: url(https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg);
     background-size:cover ;
     height:100vh;
     margin-top: 0;

}
.landing .text-intro{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50px, -50px);

}
.landing .text-intro h1{
margin: 0;
font-weight: bold;
font-size: 50px;
color: var(--main-color);
text-align: center;
}
.landing .text-intro p{
font-size: 19px;
line-height: 1.8px;
}
/*start feature*/
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size:70px;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/*end feature*/
